*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  font: 300 $size-smaller "Rambla Regular";
}

main {
  position: relative;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

button,
input {
  border: 0;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

ul,
li {
  list-style: none;
}

.section-background {
  position: relative;
  z-index: 5;
  background-color: $neutral-color-0;
  margin-bottom: 80rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 1.5rem;
  background: $linear-gradient;
  border-radius: 100px;
}
