*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; //1rem = 10px
}

body {
  font: 300 $size-smaller "Rambla Regular";
}

a,
a:link,
a:visited {
  text-decoration: none;
}

button,
input {
  border: 0;

  &:focus {
    outline: 0;
  }
}

ul,
li {
  list-style: none;
}
