//? imports of Rubik typography
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/rubik/Rubik-Bold.ttf");
}

@font-face {
  font-family: "Rubik Bold Italic";
  src: url("../fonts/rubik/Rubik-BoldItalic.ttf");
}

@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/rubik/Rubik-Regular.ttf");
}

//? imports of Rambla typography
@font-face {
  font-family: "Rambla Bold";
  src: url("../fonts/rambla/Rambla-Bold.ttf");
}

@font-face {
  font-family: "Rambla Italic";
  src: url("../fonts/rambla/Rambla-Italic.ttf");
}

@font-face {
  font-family: "Rambla Regular";
  src: url("../fonts/rambla/Rambla-Regular.ttf");
}

//? Heading Typography
.primary-heading {
  font: 600 $size-larger "Rubik Bold", sans-serif;
}

.secondary-heading {
  font: 600 $size-large "Rubik Bold", sans-serif;
}

.primary-linear-heading {
  background: linear-gradient(
    to right bottom,
    $primary-color-50,
    $secondary-color-50
  );
  -webkit-background-clip: text;
  color: transparent;
}

.primary-linear-background {
  background: linear-gradient(
    to right bottom,
    $primary-color-50,
    $secondary-color-50
  );
}

.big-body-heading {
  font: 300 $size "Rambla Regular", sans-serif;
}

.body-heading {
  font: 300 $size-small "Rambla Regular", sans-serif;
}

.smaller-heading {
  font: 300 $size-smaller "Rambla Regular", sans-serif;
}

.smallest-heading {
  font: 300 $size-smallest "Rambla Regular", sans-serif;
}

.stroke-heading {
  stroke-width: 0.3rem;
  -webkit-text-stroke-width: 0.3rem;
  color: transparent;
  letter-spacing: 0.1em;
  -webkit-text-stroke-color: $neutral-color-0;
  text-transform: uppercase;
}
