//* colors
//? primary colors
$primary-color-0: #cdd9fc;
$primary-color-10: #acbffb;
$primary-color-20: #829ff8;
$primary-color-30: #5880f6;
$primary-color-40: #2f60f4;
$primary-color-50: #0540f2;
$primary-color-60: #0435ca;
$primary-color-70: #032ba1;
$primary-color-80: #032079;
$primary-color-90: #021551;
$primary-color-100: #010d30;

//? secondary colors
$secondary-color-0: #ccf1e6;
$secondary-color-10: #aae7d5;
$secondary-color-20: #80dbc0;
$secondary-color-30: #55cfac;
$secondary-color-40: #2bc397;
$secondary-color-50: #00b782;
$secondary-color-60: #00986c;
$secondary-color-70: #007a57;
$secondary-color-80: #005c41;
$secondary-color-90: #003d2b;
$secondary-color-100: #00251a;

//? accent colors
$accent-color-0: #fbffe4;
$accent-color-10: #f9ffd3;
$accent-color-20: #f6ffbc;
$accent-color-30: #f3ffa6;
$accent-color-40: #f0ff90;
$accent-color-50: #edff7a;
$accent-color-60: #c5d466;
$accent-color-70: #9eaa51;
$accent-color-80: #77803d;

//? neutral colors
$neutral-color-0: #fff;
$neutral-color-10: #efefef;
$neutral-color-20: #cccccc;
$neutral-color-30: #aaaaaa;
$neutral-color-40: #808080;
$neutral-color-50: #555555;
$neutral-color-60: #2b2b2b;
$neutral-color-70: #000000;

//? font sizes
$size-larger: 6.4rem;
$size-large: 3.6rem;

$size: 2.4rem;
$size-small: 2rem;
$size-smaller: 1.8rem;
$size-smallest: 1.6rem;

//? linear gradient
$linear-gradient: linear-gradient(
  to right bottom,
  $primary-color-50,
  $secondary-color-50
);
