.btn {
  padding: 1.5rem 3rem;
  border-radius: 1rem;

  &__primary {
    position: absolute;
    top: 70%;
    left: 66%;
    padding: 2.4rem 3rem;
    color: $neutral-color-0;
    font: 300 $size-small "Rambla Regular";
  }

  &__pay {
    padding: 3rem 6rem;
    background-color: $secondary-color-50;
    color: $neutral-color-0;
    border-radius: 0;
    font: 300 $size-large "Rambla Regular";
  }
}
