.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 98rem;
  background-color: $primary-color-50;
  z-index: 1000;
  color: $neutral-color-0;
  transform: translateY(-100rem);
  opacity: 0;

  &-active {
    transform: translateY(0);
    opacity: 1;
    animation: menu 800ms ease-in-out alternate;
  }

  &__links {
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    margin: 5rem;
  }

  &__link {
    &--item {
      padding: 1rem;

      a {
        color: $neutral-color-0;
        text-transform: uppercase;
        font: 300 $size-large "Rambla Regular", sans-serif;
      }
    }
  }

  &__info {
    position: relative;
    flex: 1;
    @include flexcenter;
  }

  &__background {
    position: relative;
    @include flexcenter;
    width: 75%;
    height: 75%;
    background-image: url("../images/menu-background.png");
    background-repeat: no-repeat;
    background-position: center;

    &--btn {
      position: absolute;
      top: 10%;
      left: 20%;
    }

    &--name {
      font: 700 10rem "Rubik Bold", sans-serif;
    }

    &--socials {
      @include flexeven;
      width: 30%;
      position: absolute;
      bottom: 10%;
      right: 20%;
    }
  }

  &__quotes {
    position: absolute;
    width: 60rem;
    height: 12rem;

    &--1 {
      text-align: right;
      bottom: 15%;
      left: 0;
    }

    &--2 {
      top: 18%;
      right: 0%;
      text-align: left;
    }
  }

  &__close {
    position: absolute;
    right: 3rem;
    top: 3rem;
    @include flexcenter;

    &--btn {
      cursor: pointer;
    }
  }
}
