.footer {
  height: 80rem;
  color: $neutral-color-0;
  position: fixed;
  z-index: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 15% 50% 15% 10% 10%;

  &__message {
    text-align: center;
    @include flexcenter;
  }

  &__name {
    @include flexcenter;

    h1 {
      line-height: 474px;
      font: 700 40rem "Rubik Bold", sans-serif;
    }
  }

  &__info {
    width: 60%;
    margin: 0 auto;
    @include flexbtn;
    text-transform: capitalize;

    &--contact {
      text-align: right;
    }
  }

  &__socialmedia {
    width: 20%;
    margin: 0 auto;
    @include flexeven;

    &--icon {
      cursor: pointer;
    }
  }

  &__copyright {
    @include flexcenter;
  }
}
