.nav {
  position: sticky;
  left: 0;
  top: 0;
  height: 10rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
  background-color: $neutral-color-0;

  &-scrolled {
    box-shadow: rgba($neutral-color-40, 0.1) 0px 4px 6px -1px,
      rgba($neutral-color-40, 0.06) 0px 2px 4px -1px;
  }

  &__img {
    &--file {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      font: 300 2.4rem "Rubik Regular";
      color: $primary-color-60;
      text-transform: uppercase;
    }

    span {
      color: $neutral-color-40;
      font: 300 $size-small "Rambla Regular";
    }
  }

  &__menu {
    font: 300 2.4rem "Rubik Bold";
    cursor: pointer;
    text-transform: uppercase;
  }
}
